.burger {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  min-width: 200px;
  height: 100dvh;
  background-color: #263238;
  margin: 0;
}

.burger ul {
  list-style: none;
  padding: 0;
  font-size: x-large;
}

.burger li:hover {
  background-color: hsla(199, 18%, 33%, 0.585);
}

.burger a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding-left: 1.5rem;
}

#close {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
}

#open {
  position: ;
}